@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-dark-bg: #0f172a;
  --color-dark-card: #1e293b;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: var(--color-dark-bg);
  color: white;
}
